body {
  margin: 0;
  background: black;
  color: white;
  align-items: center;
  text-align: center;
  font-family: "Karla", sans-serif;
}
.container {
  max-width: 550px;
  height: 550px;
  display: block;
  margin: 40px auto;
  background: #1f2937;
  padding: 20px 52px;
  text-align: left;
}
h1 {
  font-weight: 800;
  font-size: 40px;
}
.title {
  margin-top: 20px;
}
span {
  color: #10b981;
}

.btn {
  background: #10b981;
  color: white;
  border: none;
  padding: 9px 17px 9px 15px;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 60px;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}
.results-line {
  margin-top: 50px;
  background-color: white;
  border: 1px solid #2f3e53;
}
.results {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #10b981;
}
.result {
  background: #273549;
  width: 211px;
  height: 39px;
  border-radius: 5px;
  padding-top: 15px;
}
